@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap');
html, body {
  font-family: 'Open Sans', sans-serif;
}

.fghj .card{margin-bottom:14px;}
.fghj .card-header{font-size:12px;padding:6px;text-transform:uppercase;}
.fghj .card-body{padding:14px;font-size:16px;}
.fghj h5{margin-top:15px;margin-bottom:15px;font-size:13px;}
.fghj .minj{min-height:150px;}

.percent{width:100%;height:auto;}
.idioms input{margin-left:8px;margin-right:12px;}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #cccccc;
    text-shadow: none;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}


body {
  font-size: 0.9em;
  line-height: 1.4;
  color: #333333;
  background: #ffffff;
}

.container {
  max-width: 900px;
  height:auto;
  width: 100%;
  margin: 0 auto;

}

#contact input[type="text"],
#contact input[type="email"],
#contact input[type="tel"],
#contact input[type="url"],
#contact textarea,
#contact button[type="submit"] {
   font-family: 'Open Sans', sans-serif;
}

#contact {
  background: #F9F9F9;
  padding: 25px; 
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

#contact h3 {
  display: block;
  font-size: 20px;
  font-weight: 300;
  margin-bottom: 10px;
}

#contact h4 {
  margin: 5px 0 15px;
  display: block;
  font-size: 13px;
  font-weight: 400;
}

fieldset {
  border: medium none !important;
  margin: 0 0 10px;
  min-width: 100%;
  padding: 0;
  width: 100%;
}

#contact input[type="text"],
#contact input[type="email"],
#contact input[type="tel"],
#contact input[type="url"],
#contact textarea {
  width: 100%;
  border: 1px solid #ccc;
  background: #FFF;
  margin: 0 0 5px;
  padding: 10px;
}

#contact input[type="text"]:hover,
#contact input[type="email"]:hover,
#contact input[type="tel"]:hover,
#contact input[type="url"]:hover,
#contact textarea:hover {
  -webkit-transition: border-color 0.3s ease-in-out;
  -moz-transition: border-color 0.3s ease-in-out;
  transition: border-color 0.3s ease-in-out;
  border: 1px solid #aaa;
}

#contact textarea {
  height: 100px;
  max-width: 100%;
  resize: none;
}

#contact button[type="submit"] {
  cursor: pointer;
  width: 100%;
  border: none;
  background: #4CAF50;
  color: #FFF;
  margin: 0 0 5px;
  padding: 10px;
  font-size: 15px;
}

#contact button[type="submit"]:hover {
  background: #43A047;
  -webkit-transition: background 0.3s ease-in-out;
  -moz-transition: background 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out;
}

#contact button[type="submit"]:active {
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.5);
}

.copyright {
  text-align: center;
}

#contact input:focus,
#contact textarea:focus {
  outline: 0;
  border: 1px solid #aaa;
}

::-webkit-input-placeholder {
  color: #888;
}

:-moz-placeholder {
  color: #888;
}

::-moz-placeholder {
  color: #888;
}

:-ms-input-placeholder {
  color: #888;
}

.steps > ul > li > a,
.actions li a { 
    padding: 10px;
    text-decoration: none;
    margin: 1px;
    display: block;
    color: #777;
}
.steps > ul > li,
.actions li {
    list-style:none;
} 

.container {
  
    min-height: 100vh;
    padding-top: 3%;
}
.unstyled li{display:inline !important;list-style:none;}

.displaywhen{font-size:18px;color:#9c6eaa;font-weight:bold;text-transform:uppercase;}

div.ex3 {

  height: 100vh;
  width: 99%;  
  overflow-y: auto;
}


@media (min-width: 641px) {
	#contact h3{text-align:center !important;}
    span.icontext {display:none}
    span.texticon {display:inline-block;text-align:center !important;margin:0 auto !important;}
.displaywhen{display:none;}

}

@media (max-width: 640px) {
    span.icontext {display:inline-block;}.displaywhen{display:block;}
    span.texticon {display:none}.unstyled li{display:block !important;list-style:none;}
}

